<div class="row mb-3 text-center font">
    @if(!hasFilters()){

        <h1>Restaurant Faves</h1>
    } @else {
        <h2>Search Results:</h2>
    }
</div>
<app-search-order-form (searchOrders)="setFilters($event)"></app-search-order-form>
<div class="row mb-3">
    <table class="table table-borderless table-light table-striped" style="color: #03324c; --bs-table-striped-color: #03324c">
        <thead>
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Restaurant</th>
                <th scope="col">Rating</th>
                <th scope="col">Order Again?</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @for (o of AllOrders; track o.id) {
                <tr scope="row" single-row [DisplayOrder]="o" (Delete)="deleteOrder($event)" (Update)="updateOrder($event)"></tr>
            }
        </tbody>
    </table>
</div>

    <app-add-order-form (SubmittedOrder)="addOrder($event)"></app-add-order-form>


